.user {
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  list-style: none;
  margin: 0;
}

.koboldpress {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 90px;
  height: 90px;
  border-style: solid;
  border-color: blueviolet;
}

.trashtaste {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90px;
  height: 90px;
  border-style: solid;
  border-color: blueviolet;
}

.koboldpress:hover {
  background-color: #b9befa;
  border-radius: 40px;
  transition: all 0s ease-out;
  cursor: pointer;
}

.trashtaste:hover {
  background-color: #b9befa;
  border-radius: 40px;
  transition: all 0s ease-out;
  cursor: pointer;
}
